.btn-success {
  margin-bottom: 10px;
}

.total-due {
  margin-top: 200px;
}

.error {
  color: red;
}

#buy-now {
  visibility: hidden;
  margin-left: 75px;
}

.total-due {
  font-size: 1.2em;
  font-weight: bold;
}

.shopping-cart{
    width: 25%;
    float:right;
    margin: 20px;
    margin-top: 5%;;
    float:right;
    position: fixed;
    top: 0;
    right: 0;
}
